.logo-carga {
    width: 25%;
    height: 25%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(238, 184, 134);
    /* el primer color que usamos: blanchedalmond */
}
.button.borde-gris:hover {
    border-color: black;
}

.button.borde-gris {
    border-color: gray;
    border-style: solid;
    border-width: 2px;
}
.button.borde-gris:focus {
    border-color: #00d1b2;
}
.button.mascota.gato {
    border-color: rgb(0, 0, 0);
    background-image: url('../img/Gato.png');
    border-width: 3px;
    height: 14em;
    width: 14em;
    border-radius: 10px;
}
.button.mascota.perro {
    border-color: rgb(0, 0, 0);
    background-image: url('../img/Perro.png');
    border-width: 3px;
    height: 14em;
    width: 14em;
    border-radius: 10px;
}
.button.mascota.gato:focus {
    border-color: #00d1b2;
    border-width: 3px;
}
.button.mascota.perro:focus {
    border-color: #00d1b2;
    border-width: 3px;
}
/* .button.icon.mascota:hover {
    background-color: white;
    border-color: black;
    color: black;
} */
/* button.button.icon.mascota:focus {
    background-color: rgb(75, 255, 47);
    border-color: black;
    color: black;
} */
.mascota-elegida {
    border-color: rgb(0, 0, 0);
    border-width: 3px;
    border-radius: 10px;
    height: 10.5em;
    width: 10.5em;
}
.imput.borde-negro {
    border-color: black;
}
.carga {
        -webkit-animation: spinAround 500ms infinite linear;
        animation: spinAround 500ms infinite linear;
    border: 10px solid #dbdbdb;
    border-radius: 9999px;
    border-right-color: transparent;
    border-top-color: transparent;
    content: " ";
    display: block;
    height: 7em;
    position: relative;
    width: 7em;
    margin-left: 270px;
}
.input.is-mas-chico{
    font-size: 1rem;
    width: 450px;
    margin-right: 80px;
}
.select.centrado{
    margin-right: 100px;
}
/* .titulo {
    font-size: 60px;
    float: right;
    padding-right: 60%;
}
.imagen {
    width: 15%;
    height: auto;
}
.main {
    padding-left: 35%;
}
.submain {
    padding-left: 8%;
}

.centradoh2 {
    padding-left: 18%;
}
.mainconfirmar {
    padding-left: 46%;
}
.boton {
    padding: 3%;
    font-size: 20px;
}
.textoboton {
    text-decoration: none;
    font: bold;
    color: black;
}
.centradoCarga {
    padding-left: 40%;
    font-size: 40px;
}
.imagenCarga {
    width: 30%;
    height: auto;
}
.mainSiguiente {
    margin-left: 8%;
    padding: 2%;
    font-size: 20px;
}
.genero {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} */